<% @contestants.each do |contestant| %>
    <div id="contestant-<%= contestant.id %>">
        <p><%= contestant.name %></p>
        <p>Projects: <%= contestant.list_projects.join(", ") %></p>
    </div>
<% end %>